<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Group77777</h2>
            <h4>Group7 Neueda@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Group7 Neueda">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home Page</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>

    <br>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

</mat-nav-list>
